<form id="edit-profile-form" class="profile-description">
    <div class="profile-description__img-container">
        <label for="avatar-picker">
            <img src="{{avatar}}" class="profile-description__img">
        </label>

        {{#if editing}}
            <input class="invisible" id="avatar-picker" type="file" accept="image/*" name="avatar">
        {{/if}}
    </div>
    <div class="profile-description__description-block">
        <div class="profile-description__table-container">
            {{{table}}}
        </div>
        <div class="profile-description__button-block">
            {{#if mine }}
                {{#if editing}}
                    <input class="button" type="submit" value="Сохранить">
                {{else}}
                    <input type="button" id="edit-profile-btn" class="button" value="Редактировать"></input>
                    <a href="/createevent" class="link-button js-router-link">Создать мероприятие</a>
                {{/if}}
            {{else}}
                {{#if isFriend}}
                    Вы дружите
                {{else}}
                    <input id="add-friend-btn" class="button" value="Добавить в друзья">
                {{/if}}
            {{/if}}
        </div>
    </div>
</form>
