<div class="header">
    <div class="header__logo" id="svg-container-{{id}}">
        <img src="/assets/img/logo-full.svg" alt="logo">
    </div>

    <div class="header__top__line">
        <div class="header__head">
            <a href="/" class="js-router-link black-link">
                Event Radar
            </a>
        </div>

        <div class="header__city__selector">
            <select id="header-city-select" style="background: right url('/assets/img/down-arrow-icon.svg') no-repeat;">
                {{#each cities}}
                    <option>{{this}}</option>
                {{/each}}
            </select>
        </div>

        <div>
            <input type="text" id="header-search" placeholder="Поиск" value="{{searchQuery}}" class="search" style="background: right url('/assets/img/search-icon.svg') no-repeat;">
        </div>

        <div class="profile-link">
            {{{profileLink}}}
        </div>
    </div>

    <div class="header__bottom__line">
        {{#each categories }}
            <a id="category-{{@index}}" class="header__category {{#ifEq @index ../selectedCategoryId}}category-selected{{/ifEq}}">
                {{this}}
            </a>

            {{#unless @last}}
                <div class="header__category__delimiter"></div>
            {{/unless}}
        {{/each}}
    </div>

</div>
