<div class="app">
    <div class="header">
        {{{header}}}
    </div>

    <div class="row">
        <div class="content">
            {{{content}}}
        </div>
        <div class="sidebar">
            {{{calendar}}}
        </div>
    </div>

    {{{modalWindow}}}
    {{!--
    <div class="footer">
        {{footer}}
    </div> 
    --}}
</div>