<div class="card event-card">
    <div class="card__img-block">
        <a id="event_{{eventId}}" class="js-router-link" href="/events/{{eventId}}">
            <img class="card__img" src="{{img}}" alt="{{name}}" />
        </a>
    </div>
    <div class="card__body event-card__body">
        <div class="card__title">
            {{name}}
        </div>
        <div class="card__description">
            {{desc}}
        </div>
        <hr class="card__hr" />
        {{{dates}}}
        <hr class="card__hr" />
        {{{places}}}
    </div>
    <div class="event-card__footer">
        <div class="event-card__button-block">
            <div class="heart-icon-container"></div>
            <div class="comment-icon-container"></div>
            <div class="invite-icon-container"></div>
            <div class="bookmark-icon-container"></div>
        </div>
    </div>
</div>