<div class="event-processing">
    <form class="form" id="event-processing-form">
        <label for="event-processing-name" class="form-label"> Название мероприятия: </label>
        <input name="name" class="form-control" type="text" id="event-processing-name" value="{{name}}" required />

        <label for="event-processing-teaser" class="form-label"> Тизер: </label>
        <textarea
            name="teaser"
            class="form-control event-processing__form-textarea"
            type="text"
            id="event-processing-teaser"
        >{{teaser}}</textarea>

        <label for="event-processing-description" class="form-label"> Полное описание: </label>
        <textarea
            name="description"
            class="form-control event-processing__form-textarea"
            type="text"
            id="event-processing-description"
            required
        >{{description}}</textarea>

        <label for="event-processing-date-first" class="form-label"> Дата начала: </label>
        <input
            name="dateStart"
            class="form-control"
            type="date"
            id="event-processing-date-first"
            value="{{dateStart}}"
        />

        <label for="event-processing-date-first" class="form-label"> Время начала: </label>
        <input name="timeStart" class="form-control" type="time" value="{{timeStart}}" />

        <label for="event-processing-date-second" class="form-label"> Дата конца: </label>
        <input name="dateEnd" class="form-control" type="date" id="event-processing-date-second" value="{{dateEnd}}" />

        <label for="event-processing-date-first" class="form-label"> Время конца: </label>
        <input name="timeEnd" class="form-control" type="time" value="{{timeEnd}}" />

        <label for="event-processing-place" class="form-label"> Место проведения: </label>
        <input
            name="place"
            class="form-control"
            id="event-processing-place"
            list="test"
            placeholder="Выберите место проведения..."
            value="{{place}}"
            required
        />
        <datalist id="test">
            <option value="ВДНХ"></option>
            <option value="Битца"></option>
            <option value="Большой театр"></option>
            <option value="Третьяковская галерея"></option>
        </datalist>

        {{#unless hasImg}}
        <label for="event-processing-img" class="form-label"> Картинка: </label>
        {{/unless}}
        <input id="event-processing-img" name="file" class="form-control {{#if hasImg}}invisible{{/if}}" type="file" value="{{file}}"/>

        {{#if hasImg}}
            <label for="event-processing-img" class="form-label">
                <img class="event-processing__img-prev" src="{{img}}" alt="Картинка :3" />
            </label>
        {{/if}}

        <div class="event-processing__button-block">
            <input class="button form-submit" id="event-processing-submit" type="submit" 
            value="{{#if isEdit}}Сохранить изменения{{else}}Создать{{/if}}" />
            {{#if isEdit}}
                <input class="button-danger form-submit" id="event-processing-remove" type="button" value="Удалить"/>
            {{/if}}
        </div>

    </form>
</div>