<div class="card event-card">
    <div class="card__img-block">
        <img class="card__img" src="{{img}}" alt="{{name}}" />
    </div>
    <div class="card__body">
        <div class="card__title">
            {{name}}
        </div>
        <div class="card__description">
            {{desc}}
        </div>
        <hr class="card__hr" />
        {{{dates}}}
        <hr class="card__hr" />
        {{{places}}}
        <div class="event-card__button-block">
            <a href="/link" class="router-link event-card__button-link">
                <input class="button" type="button" value="Узнать подробности" />
            </a>
        </div>
    </div>
</div>